################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Laboratorio1/.vs/Laboratorio1/FileContentIndex/cc1db075-c3e4-4ba1-8046-c8f61a847cee.vsidx
/Laboratorio1/.vs/Laboratorio1/FileContentIndex/d52ea074-a167-4713-9ef3-0277e9d438d7.vsidx
